.App {
  text-align: center;
}

.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
  transition: all 0.2s !important;
}

.todoCard:hover {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

/* -- START CUSTOM FONTS --- */
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria/Alexandria-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria/Alexandria-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria/Alexandria-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria/Alexandria-Light.ttf");
  font-weight: 200;
}

/* -- END CUSTOM FONTS -- */
